.main__container::before {
  background: #000000;
  content: "";
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}

.main__title_welcome {
  padding: 2rem 1rem;
}

.main__title1 {
  color: #fff;
  font-size: 4.5rem;
}

.main__title1 > span:nth-child(1) {
  background: linear-gradient(90deg, #00c9ff 40%, #92fe9d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main__title1 > span:nth-child(2) {
  background: linear-gradient(90deg, #92fe9d 40%, #00c9ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main__title2 {
  color: #fff;
  font-size: 2rem;
}

.main__contact_me {
  padding: 1rem;
  color: #fff;
  display: flex;
  gap: 1rem;
}

.main__line_gradient {
  background: linear-gradient(90deg, #92fe9d 40%, #00c9ff 100%);
  border-radius: 0.1rem;
  height: 4.5rem;
  width: 0.4rem;
}

.main__info_contact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.main__info_contact > p {
  font-size: 1.1rem;
}

.main__info_social_network {
  padding: 0 1rem;
  display: flex;
  gap: 1.5rem;
}

.main__item_social:nth-child(1) > svg {
  color: #00c9ff;
}

.main__item_social:nth-child(2) > svg {
  color: #92fe9d;
}

.main__item_social:nth-child(3) > svg {
  color: #00c9ff;
}

.main__item_social:nth-child(4) > svg {
  color: #92fe9d;
}

.main__item_social:nth-child(5) > svg {
  color: #00c9ff;
}
