.skills__container::before {
  background: #000000;
  content: "";
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}

.skills__nav {
  align-items: center;
  border-bottom: 1px solid #92fe9d82;
  color: #fff;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  padding: 0.8rem;
  position: relative;
  width: 100%;
  z-index: 99;
}

.skills__nav > svg {
  color: #00c9ff;
  cursor: pointer;
  font-size: 1.6rem;
  position: relative;
  z-index: 10;
}

.skills__nav_back {
  align-items: center;
  display: flex;
  gap: 1rem;
}

.skills__nav_back > svg {
  cursor: pointer;
  fill: #92fe9d;
  font-size: 2rem;
}

.skills__nav_back > p {
  background: linear-gradient(90deg, #92fe9d 40%, #00c9ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5rem;
}

.skills__title {
  background: linear-gradient(187deg, #92fe9d 40%, #00c9ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4rem;
  padding: 1rem;
}

.skills__description {
  background: linear-gradient(293deg, #92fe9d 40%, #00c9ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.2rem;
  padding: 0.8rem;
}

.skills__hidden_elements {
  display: none;
}

.skills__list_skills {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.skills__item {
  align-items: center;
  border-radius: 1rem;
  border: 1px solid #fff;
  box-shadow: 9px 6px 0px #161616;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 17rem;
  justify-content: center;
  width: 90%;
}

.skills__item > img {
  object-fit: cover;
  width: 7rem;
}

.skills__item > p {
  background: linear-gradient(90deg, #92fe9d 40%, #00c9ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5rem;
}

.skills__back_screen {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

.skills__item_back {
  bottom: 0;
  height: fit-content;
  position: absolute;
  width: fit-content;
  z-index: -1;
}

.skills__item_back > svg {
  color: #111219;
  font-size: 7rem;
  height: fit-content;
  width: fit-content;
}

.skills__item_back:nth-child(1) {
  right: 0;
  top: 47%;
}

.skills__item_back > p {
  background: linear-gradient(90deg, #92fe9d 40%, #00c9ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.skills__item_back:nth-child(2) {
  left: 8%;
  top: 24%;
}

.skills__item_back:nth-child(3) {
  right: 16%;
  top: 30%;
}

.skills__item_back:nth-child(4) {
  bottom: 5%;
  left: 4%;
}

.skills__item_back:nth-child(5) {
  bottom: 36%;
  left: 10%;
}

.skills__item_back:nth-child(6) {
  left: 29%;
  top: 5%;
}

.skills__item_back:nth-child(7) {
  right: 9%;
}

.skills__item_back:nth-child(8) {
  right: 0;
  top: 5%;
}

.skills__item_back:nth-child(9) {
  bottom: 17%;
  left: 48%;
}

.skills__color_letters {
  background: linear-gradient(90deg, #92fe9d 40%, #00c9ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 3s ease-in all;
}

.skills__color_images1 {
  color: #00c9ff !important;
  transition: 3s ease-in all;
}

.skills__color_images2 {
  color: #92fe9d !important;
  transition: 3s ease-in all;
}

.skills__container::before {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
